<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>s</string>
      <string>s_angle_45_step_20</string>
      <string>s_angle_45_step_40</string>
      <string>s_angle_45_step_60</string>
      <string>s_angle_45_step_80</string>
      <string>s_angle_90_step_20</string>
      <string>s_angle_90_step_40</string>
      <string>s_angle_90_step_60</string>
      <string>s_angle_90_step_80</string>
      <string>s_angle_135_step_20</string>
      <string>s_angle_135_step_40</string>
      <string>s_angle_135_step_60</string>
      <string>s_angle_135_step_80</string>
      <string>s_angle_180_step_20</string>
      <string>s_angle_180_step_40</string>
      <string>s_angle_180_step_60</string>
      <string>s_angle_180_step_80</string>
      <string>s_angle_225_step_20</string>
      <string>s_angle_225_step_40</string>
      <string>s_angle_225_step_60</string>
      <string>s_angle_225_step_80</string>
      <string>s_angle_270_step_20</string>
      <string>s_angle_270_step_40</string>
      <string>s_angle_270_step_60</string>
      <string>s_angle_270_step_80</string>
      <string>s_angle_315_step_20</string>
      <string>s_angle_315_step_40</string>
      <string>s_angle_315_step_60</string>
      <string>s_angle_315_step_80</string>
      <string>x</string>
      <string>x_angle_45_step_20</string>
      <string>x_angle_45_step_40</string>
      <string>x_angle_45_step_60</string>
      <string>x_angle_45_step_80</string>
      <string>x_angle_90_step_20</string>
      <string>x_angle_90_step_40</string>
      <string>x_angle_90_step_60</string>
      <string>x_angle_90_step_80</string>
      <string>x_angle_135_step_20</string>
      <string>x_angle_135_step_40</string>
      <string>x_angle_135_step_60</string>
      <string>x_angle_135_step_80</string>
      <string>x_angle_180_step_20</string>
      <string>x_angle_180_step_40</string>
      <string>x_angle_180_step_60</string>
      <string>x_angle_180_step_80</string>
      <string>x_angle_225_step_20</string>
      <string>x_angle_225_step_40</string>
      <string>x_angle_225_step_60</string>
      <string>x_angle_225_step_80</string>
      <string>x_angle_270_step_20</string>
      <string>x_angle_270_step_40</string>
      <string>x_angle_270_step_60</string>
      <string>x_angle_270_step_80</string>
      <string>x_angle_315_step_20</string>
      <string>x_angle_315_step_40</string>
      <string>x_angle_315_step_60</string>
      <string>x_angle_315_step_80</string>
      <string>y</string>
      <string>y_angle_45_step_20</string>
      <string>y_angle_45_step_40</string>
      <string>y_angle_45_step_60</string>
      <string>y_angle_45_step_80</string>
      <string>y_angle_90_step_20</string>
      <string>y_angle_90_step_40</string>
      <string>y_angle_90_step_60</string>
      <string>y_angle_90_step_80</string>
      <string>y_angle_135_step_20</string>
      <string>y_angle_135_step_40</string>
      <string>y_angle_135_step_60</string>
      <string>y_angle_135_step_80</string>
      <string>y_angle_180_step_20</string>
      <string>y_angle_180_step_40</string>
      <string>y_angle_180_step_60</string>
      <string>y_angle_180_step_80</string>
      <string>y_angle_225_step_20</string>
      <string>y_angle_225_step_40</string>
      <string>y_angle_225_step_60</string>
      <string>y_angle_225_step_80</string>
      <string>y_angle_270_step_20</string>
      <string>y_angle_270_step_40</string>
      <string>y_angle_270_step_60</string>
      <string>y_angle_270_step_80</string>
      <string>y_angle_315_step_20</string>
      <string>y_angle_315_step_40</string>
      <string>y_angle_315_step_60</string>
      <string>y_angle_315_step_80</string>
      <string>z</string>
      <string>z_angle_45_step_20</string>
      <string>z_angle_45_step_40</string>
      <string>z_angle_45_step_60</string>
      <string>z_angle_45_step_80</string>
      <string>z_angle_90_step_20</string>
      <string>z_angle_90_step_40</string>
      <string>z_angle_90_step_60</string>
      <string>z_angle_90_step_80</string>
      <string>z_angle_135_step_20</string>
      <string>z_angle_135_step_40</string>
      <string>z_angle_135_step_60</string>
      <string>z_angle_135_step_80</string>
      <string>z_angle_180_step_20</string>
      <string>z_angle_180_step_40</string>
      <string>z_angle_180_step_60</string>
      <string>z_angle_180_step_80</string>
      <string>z_angle_225_step_20</string>
      <string>z_angle_225_step_40</string>
      <string>z_angle_225_step_60</string>
      <string>z_angle_225_step_80</string>
      <string>z_angle_270_step_20</string>
      <string>z_angle_270_step_40</string>
      <string>z_angle_270_step_60</string>
      <string>z_angle_270_step_80</string>
      <string>z_angle_315_step_20</string>
      <string>z_angle_315_step_40</string>
      <string>z_angle_315_step_60</string>
      <string>z_angle_315_step_80</string>
    </array>
  </dict>
</plist>
